<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeDemo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ModifierAC" android:theme="@style/Theme.ComposeDemo"/>
        <activity android:name=".activity.ImageAC"/>
        <activity android:name=".activity.TextAC"/>
        <activity android:name=".activity.StateAC"/>
        <activity android:name=".activity.CanvasAC"/>
        <activity android:name=".activity.AnimationAC"/>
        <activity android:name=".activity.SlideAC"/>
        <activity android:name=".activity.ConstraintlayoutAC"/>
        <activity android:name=".activity.ListAC"/>
        <activity android:name=".activity.BoxLayoutAC"/>
        <activity android:name=".activity.AnimateVisibilityAC"/>
        <activity android:name=".activity.AnimateStateAC"/>
        <activity android:name=".activity.StringAC"/>
        <activity android:name=".activity.LazyListAC"/>
        <activity android:name=".activity.LazyListSticky"/>
        <activity android:name=".activity.RowColAC"/>
        <activity android:name=".activity.CustomLayoutAC"/>
        <activity android:name=".activity.GestureAC"/>
        <activity android:name=".activity.NavigationAC"/>
        <activity android:name=".activity.GridAC"/>
        <activity android:name=".activity.IntrinsicSizeAC"/>
        <activity android:name=".activity.InAppPurchaseAC"/>
        <activity android:name=".activity.FlowAC"/>
        <activity android:name=".activity.ThemeAC"/>
        <activity android:name=".activity.SlotAPIAC"/>
    </application>

</manifest>